
h1 {
    background-color:#5d91c7;
    color: white;
    padding: .25em .25em .25em .5em;
    border-radius: 25px;
    margin: 0 0 .5em 0;
}

nav {
    background-color:#d9e2eb;
    color: white;
    padding: .5em 1em .5em 1em;
    border-radius: 25px;
    display: inline-flex;
}
nav a {
    margin: 0 1em 0 1em;
}
nav a:link {
    text-decoration: none;
    color: black;
}

div.page-content {
    margin: 0 .5em 0 .5em;
}

div.field {
    margin: 1em 0 1em 0;
}

div#textWriter_history {
    color: red;
}

